*{
    margin: 0;
    padding: 0;
}
h2{
    color: #ffffff;
    margin-top: 5rem;
    font-size: 1.5rem;

    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.cont{
    margin-top: 5rem;
    background-color: rgb(2, 27, 40);
    align-items: center;
    justify-content: center;
}
#display{
margin: 5px;
width: 240px;
height: 60px;
font-size: 20px;
text-align:right;
padding-right: 3px;
border: none;
background-color: rgba(38, 198/255,  218/255, .5);
box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.447);
user-select: none;
color: #ffffff;
}
.active{
    background-color: blue;
    border: none;
    
}
input[type="button"] {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}
input:nth-child(20){
background-color: red;
border: none;
}